{% extends 'base.html' %}

{% block content %}
        <!-- 게시글 제목 -->
        <div class="title">
            <h1>title</h1>
       </div>
       <!-- 게시글 이미지 -->
       <div class="img">
           <img src="" alt="img" class="img">
       </div>
       <!-- 게시글 내용 -->
       <div class="content">
            <p>content</p>
       </div>
       <!-- 좋아요/버튼 -->
       <div class="like">
           <button></button>
           <button></button>
           <p class="like">좋아요</p>
       </div>
       <!-- 댓글 쓰기 -->
       <div class="comments">
           <img src="" alt="profile" class="profile">
           <input type="text" class="comments">
           <button></button>
       </div>
       <!-- 댓글 입력완료 -->
       <div class="comments_done">
           <img src="" alt="profile" class="profile_done">
           <p class="comments_done"></p>
           <button></button>
        </div>
{% endblock %}